# Python & Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
project-IMS SS file(DPRAMP).docx
